* { box-sizing: border-box; }

body { 
	font-size: 18px; font-family: 'Open Sans', sans-serif;
}

#link2results { 
	position: absolute; top: 36px; right: 30px;
	display: none;
}
#link2results a {
	display: inline-block; padding: 5px 10px 0 10px;
	color: #fff; border-radius: 30px; background: #eee;
	font-size: 36px;
}
#link2results a:hover { background-color: #333; }
#link2results > input { 
	position: relative; top: -5px; 
	display: inline-block; width: 0; height: 0; padding: 0; 
	border: none; 
}

.search input {
	display: block;	width: 100%; height: 132px; padding: 30px 120px 30px 60px; 
	border: 0;
	font-size: 24px; vertical-align: middle;
}
.search input:focus { outline: none; }

.result { padding: 30px 60px; border-top: 1px solid #eee; }
	.result h2 { position: relative; font-size: 24px; padding-left: 60px; }
		.result h2 > span { position: absolute; left: 0; top: 0; }
	.result p { padding-left: 60px; }

#footer { padding: 30px; background: #eee; }
	#footer .get-involved p { margin: 30px 0; }