* { box-sizing: border-box; }

body { 
	padding: 30px 60px; 
	font-size: 18px; font-family: 'Open Sans', sans-serif;
}

.search input {
	display: block;	width: 100%; height: 72px;
	border: 0;
	font-size: 24px;
}
.search input:focus { outline: none; }

#results table th, #results table td { padding: 15px 30px 15px 0; }

.result { padding: 15px 0; border-top: 1px solid #eee; }
	.result h2 { position: relative; font-size: 24px; padding-left: 60px; }
		.result h2 > span { position: absolute; left: 0; top: 0; }
	.result p { padding-left: 60px; }